<form [formGroup]="form" *ngIf="form" (ngSubmit)="update()">
  <mat-card>
    <mat-card-title>Change password</mat-card-title>
    <mat-card-subtitle>Please fill the fields to change your password.</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div layout="row" flex>
        <mat-form-field flex>
          <input #currentPassword
                 name="currentPassword"
                 matInput
                 maxlength="50"
                 type="password"
                 placeholder="Current password"
                 formControlName="currentPassword"
                 required />
          <mat-error>
            <div *ngIf="form.get('currentPassword').errors?.required">
              this field is required.
            </div>
            <div *ngIf="form.get('currentPassword').errors?.minlength">
              min length is {{form.get('currentPassword').errors?.minlength.requiredLength}}.
            </div>
            <div *ngIf="form.get('currentPassword').errors?.maxlength">
              max length is {{form.get('currentPassword').errors?.maxlength.requiredLength}}.
            </div>
          </mat-error>
          <mat-hint>{{currentPassword.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <div layout="row" flex>
        <mat-form-field flex>
          <input #newPassword
                 name="newPassword"
                 matInput
                 type="password"
                 maxlength="50"
                 placeholder="New password"
                 formControlName="newPassword"
                 required />
          <mat-error>
            <div *ngIf="form.get('newPassword').errors?.required">
              this field is required.
            </div>
            <div *ngIf="form.get('newPassword').errors?.minlength">
              min length is {{form.get('newPassword').errors?.minlength.requiredLength}}.
            </div>
            <div *ngIf="form.get('newPassword').errors?.maxlength">
              max length is {{form.get('newPassword').errors?.maxlength.requiredLength}}.
            </div>
          </mat-error>
          <mat-hint>{{newPassword.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <div layout="row" flex>
        <mat-form-field flex>
          <input #newPasswordConfirmation
                 name="newPasswordConfirmation"
                 matInput
                 maxlength="50"
                 type="password"
                 placeholder="Password confirmation"
                 formControlName="newPasswordConfirmation"
                 required />
          <mat-error>
            <div *ngIf="form.get('newPasswordConfirmation').errors?.required">
              this field is required.
            </div>
            <div *ngIf="form.get('newPasswordConfirmation').errors?.notEqual">
              passwords don't match
            </div>
          </mat-error>
          <mat-hint align="right">{{newPasswordConfirmation.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <td-message label="Change password failed"
                  color="warn"
                  icon="error"
                  class="push-top"
                  [@tdCollapse]="{ value: errorMessage == null, params: { duration: 1 }}"
                  [@tdHeadshake]="{ value: errorMessage != null, params: { delay:1 }}"
                  [sublabel]="errorMessage">
      </td-message>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="pad-sm text-center">
        <button type="submit"
                mat-raised-button
                color="primary"
                [disabled]="!form.valid">
          Save
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
