// Boostrap
$blue: #01537C !default;
$primary: $blue !default;
$theme-colors: () !default;
$font-size-base: 0.8rem;
@import '~bootstrap/dist/css/bootstrap.min.css';

// Angular Material + Coavalent
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';


@import 'src/app/components/themes.scss';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config( $font-family: 'Roboto, monospace', $headline: mat-typography-level(32px, 48px, 700) );

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-orange, 800, 100, 900);
$accent: mat-palette($mat-light-blue, 600, 100, 900);

$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme


@include themes($theme, $typography);

td-message {
    overflow:hidden;
}

td-search-box .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-bottom: inherit;
  padding-top: 5px !important;
}

span mat-icon {
  font-size: 18px;
  vertical-align: bottom;
  margin-right: 3px;
}

*:focus, *:active {
  outline: none!important;
}
