<td-layout-card-over cardTitle="Password forgotten"
                     cardSubtitle="Please fill the fields to reset your password."
                     tdMediaToggle="gt-xs">
  <form [formGroup]="form" (ngSubmit)="resetPassword()" *ngIf="form">
    <mat-card-content class="push-bottom-none">

      <div layout="row" flex>
        <mat-form-field flex>
          <input name="email"
                 formControlName="email"
                 matInput
                 #emailElement
                 type="text"
                 placeholder="Email"
                 required>
          <mat-error>
            <div *ngIf="form.get('email').errors?.required">
              this field is required.
            </div>
          </mat-error>
        </mat-form-field>
      </div>

      <div layout="row" flex>
        <mat-form-field flex>
          <input #newPassword
                 name="newPassword"
                 matInput
                 type="password"
                 maxlength="50"
                 placeholder="Password"
                 formControlName="newPassword"
                 required />
          <mat-error>
            <div *ngIf="form.get('newPassword').errors?.required">
              this field is required.
            </div>
            <div *ngIf="form.get('newPassword').errors?.minlength">
              min length is {{form.get('newPassword').errors?.minlength.requiredLength}}.
            </div>
            <div *ngIf="form.get('newPassword').errors?.maxlength">
              max length is {{form.get('newPassword').errors?.maxlength.requiredLength}}.
            </div>
          </mat-error>
          <mat-hint>{{newPassword.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <div layout="row" flex>
        <mat-form-field flex>
          <input #newPasswordConfirmation
                 name="newPasswordConfirmation"
                 matInput
                 maxlength="50"
                 type="password"
                 placeholder="Password confirmation"
                 formControlName="newPasswordConfirmation"
                 required />
          <mat-error>
            <div *ngIf="form.get('newPasswordConfirmation').errors?.required">
              this field is required.
            </div>
            <div *ngIf="form.get('newPasswordConfirmation').errors?.notEqual">
              passwords don't match
            </div>
          </mat-error>
          <mat-hint>{{newPasswordConfirmation.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <td-message label="Your password has not been reset"
                  color="warn"
                  icon="error"
                  [@tdCollapse]="{ value: errorMessage == null, params: { duration: 100 }}"
                  [@tdHeadshake]="{ value: errorMessage != null, params: { delay:100 }}"
                  [sublabel]="errorMessage"
                  [style.overflow]="'hidden'">
      </td-message>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="pad-sm text-center">
        <button mat-raised-button
                color="primary"
                [disabled]="!form.valid"
                type="submit">
          <mat-icon>account_circle</mat-icon>
          Reset my password
        </button>
        <button mat-raised-button
                type="reset"
                color="accent"
                (click)="cancel()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
      </div>
    </mat-card-actions>
  </form>
</td-layout-card-over>
