<td-layout>
  <td-layout-nav toolbarTitle="AllInOne" navigationRoute="/">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Title</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Description
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  mat-raised-button>Action 1</button>
        <button color="accent"  mat-raised-button>Action 2</button>
      </mat-card-actions>
    </mat-card>
  </td-layout-nav>
</td-layout>
