<td-layout-card-over cardTitle="Password forgotten"
                     cardSubtitle="Please enter your email and you will receive a link to reset your password."
                     tdMediaToggle="gt-xs">
  <form [formGroup]="form" (ngSubmit)="passwordforgotten(form.value)" *ngIf="form">
    <mat-card-content class="push-bottom-none">
      
      <div layout="row" flex>
        <mat-form-field flex>
          <input name="email"
                 formControlName="email"
                 matInput
                 #emailElement
                 type="text"
                 placeholder="Email"
                 required>
          <mat-error>
            <div *ngIf="form.get('email').errors?.required">
              this field is required.
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <td-message label="Operation failed"
                  color="warn"
                  icon="error"
                  [@tdCollapse]="{ value: errorMessage == null, params: { duration: 100 }}"
                  [@tdHeadshake]="{ value: errorMessage != null, params: { delay:100 }}"
                  [sublabel]="errorMessage" 
                  [style.overflow]="'hidden'">
      </td-message>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              [disabled]="!form.valid"
              type="submit">
        <mat-icon>account_circle</mat-icon>
        Reset my password
      </button>
      <button mat-raised-button
              type="reset"
              color="accent"
              (click)="cancel()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </form>
</td-layout-card-over>
